flows.json
[
    {
        "id": "1efd7cc3c71e09de",
        "type": "tab",
        "label": "Thermometers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee007fdb47bc55a3",
        "type": "tab",
        "label": "Chiller Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b78165d67fd7b4e4",
        "type": "tab",
        "label": "Logging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0554f48b4c31f562",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true
    },
    {
        "id": "bcd1d9f7e4bee09e",
        "type": "ui-theme",
        "name": "Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ff688e6db65990bd",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "0554f48b4c31f562",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "bcd1d9f7e4bee09e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "92b99a777e7b2308",
        "type": "ui-group",
        "name": "Reservoir",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31c3bbdb778e6274",
        "type": "ui-group",
        "name": "Sensors",
        "page": "ff688e6db65990bd",
        "width": "3",
        "height": "4",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "9717d6b8e7174784",
        "type": "ui-group",
        "name": "Fridge Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1150dfbc2542243a",
        "type": "ui-group",
        "name": "Freezer Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "02821af719429a34",
        "type": "ui-group",
        "name": "Fermenter",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3685fac23107d13d",
        "type": "websocket-client",
        "path": "ws://tiltpi.local:1880/ws/tilt",
        "tls": "",
        "wholemsg": "true",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "4eeb9de08e9f4ac5",
        "type": "websocket-client",
        "path": "ws://ws.ifelse.io",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "a078bc0c7301c768",
        "type": "rpi-ds18b20",
        "z": "1efd7cc3c71e09de",
        "topic": "",
        "array": false,
        "name": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6db80055ea16ed14",
                "9dc23e792fe52e3a"
            ]
        ]
    },
    {
        "id": "19cf4c30ae84fad0",
        "type": "debug",
        "z": "1efd7cc3c71e09de",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "74bcbed03a01a3f9",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a078bc0c7301c768"
            ]
        ]
    },
    {
        "id": "10730fb5c08658b7",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Reservoir",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "25",
                "color": "#58f72b"
            },
            {
                "from": "35",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "6db80055ea16ed14",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "C to F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload*9/5 + 32",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "19cf4c30ae84fad0",
                "7a83f0ffb45f9e01",
                "e1173b0f55798df8"
            ]
        ]
    },
    {
        "id": "89a53a7521a28c6e",
        "type": "switch",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "28-3ce1d4438190",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4433942",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e380ae89",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e38020af",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d44331ee",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4438eb5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "10730fb5c08658b7"
            ],
            [
                "d7cae4a972371c10"
            ],
            [
                "bd7539e8c96648f2"
            ],
            [
                "9d62b7bf49b0c39e"
            ],
            [
                "2a49f5a09c811234"
            ],
            [
                "d07942e060cae33b"
            ]
        ]
    },
    {
        "id": "d7cae4a972371c10",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd7539e8c96648f2",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "32",
                "color": "#00ccff"
            },
            {
                "from": "37",
                "color": "#58f72b"
            },
            {
                "from": "39",
                "color": "#ffcd00"
            }
        ],
        "min": "32",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "978eb36b96422f6c",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fridge Water Sample",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "32",
                "color": "#00ccff"
            },
            {
                "from": "37",
                "color": "#58f72b"
            },
            {
                "from": "39",
                "color": "#ffcd00"
            }
        ],
        "min": "32",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1220,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a49f5a09c811234",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Glycol Return",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "30",
                "color": "#58f72b"
            },
            {
                "from": "40",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "d07942e060cae33b",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "1150dfbc2542243a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Freezer Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "25",
                "color": "#58f72b"
            },
            {
                "from": "35",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "1838a71a8221f3fa",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "10730fb5c08658b7",
                "d7cae4a972371c10",
                "bd7539e8c96648f2",
                "978eb36b96422f6c",
                "2a49f5a09c811234",
                "d07942e060cae33b"
            ]
        ]
    },
    {
        "id": "733634787f0f318b",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "9dc23e792fe52e3a",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 2",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "733634787f0f318b"
            ]
        ]
    },
    {
        "id": "adb1d333296cf1b4",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Now",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "a23633967db43d44",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "3992b857cc3d9d40"
            ]
        ]
    },
    {
        "id": "3992b857cc3d9d40",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 3",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 40,
        "wires": [
            [
                "adb1d333296cf1b4"
            ]
        ]
    },
    {
        "id": "7a83f0ffb45f9e01",
        "type": "smooth",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "6",
        "round": "1",
        "mult": "multi",
        "reduce": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "89a53a7521a28c6e"
            ]
        ]
    },
    {
        "id": "9d62b7bf49b0c39e",
        "type": "smooth",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "978eb36b96422f6c"
            ]
        ]
    },
    {
        "id": "e1173b0f55798df8",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "Format Log",
        "func": "\nmsg.payload = {\n    temp: msg.payload,\n    unit: 'F'\n};\n\nmsg.datadir = 'pitemps';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "5e8834fa3ab3d42c"
            ]
        ]
    },
    {
        "id": "0ec28ad35b2a3c52",
        "type": "websocket in",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "server": "",
        "client": "3685fac23107d13d",
        "x": 1290,
        "y": 40,
        "wires": [
            [
                "ff4fe5ec72581072",
                "8a903e953f56c62f"
            ]
        ]
    },
    {
        "id": "c0c670bed0b0f6b0",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "02821af719429a34",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fermentor",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "55",
                "color": "#00ccff"
            },
            {
                "from": "64",
                "color": "#58f72b"
            },
            {
                "from": "70",
                "color": "#ffcd00"
            }
        ],
        "min": "55",
        "max": "75",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 40,
        "wires": []
    },
    {
        "id": "83583412c0d71cda",
        "type": "random",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "low": "40",
        "high": "60",
        "inte": "true",
        "property": "payload",
        "x": 1500,
        "y": 120,
        "wires": [
            [
                "a391687a0d2ffd87"
            ]
        ]
    },
    {
        "id": "a391687a0d2ffd87",
        "type": "websocket out",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "server": "",
        "client": "4eeb9de08e9f4ac5",
        "x": 1700,
        "y": 120,
        "wires": []
    },
    {
        "id": "a2d82437d76edbe4",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1290,
        "y": 100,
        "wires": [
            [
                "83583412c0d71cda"
            ]
        ]
    },
    {
        "id": "ff4fe5ec72581072",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.displayTemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 40,
        "wires": [
            [
                "c0c670bed0b0f6b0"
            ]
        ]
    },
    {
        "id": "180f7daaa4264a57",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "02821af719429a34",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1670,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a903e953f56c62f",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 8",
        "func": "msg.payload = new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 80,
        "wires": [
            [
                "180f7daaa4264a57"
            ]
        ]
    },
    {
        "id": "5e8834fa3ab3d42c",
        "type": "link out",
        "z": "1efd7cc3c71e09de",
        "name": "log",
        "mode": "link",
        "links": [
            "6624e0a10db6703c"
        ],
        "x": 725,
        "y": 260,
        "wires": []
    },
    {
        "id": "563b43c6967a20f7",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Pump -",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "7225d65199aec1d1",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Pump",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "pump_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "c5be5891b150f2b6",
                "75c5e52cdff53af0",
                "b76514b0598b3055",
                "52ddf34c1d3b3521"
            ]
        ]
    },
    {
        "id": "c5be5891b150f2b6",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Pump +",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "eb4351f291021d1d",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Glycol Recirc -",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cc6ea47a19e1105",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Glycol Recirc -",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "f2dd82cb284c8f90",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Glycol Recirc",
        "group": "9717d6b8e7174784",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "bbe31ea084f7d6ed",
                "4cc6ea47a19e1105",
                "52ddf34c1d3b3521"
            ]
        ]
    },
    {
        "id": "bbe31ea084f7d6ed",
        "type": "switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "7225d65199aec1d1"
            ]
        ]
    },
    {
        "id": "75c5e52cdff53af0",
        "type": "debug",
        "z": "ee007fdb47bc55a3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "4366f0d91885af2b",
        "type": "inject",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "563b43c6967a20f7",
                "eb4351f291021d1d",
                "7225d65199aec1d1"
            ]
        ]
    },
    {
        "id": "b76514b0598b3055",
        "type": "switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "f2dd82cb284c8f90",
                "485a04c4285f945c"
            ]
        ]
    },
    {
        "id": "485a04c4285f945c",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Fermentor",
        "group": "02821af719429a34",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "fermentor_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 720,
        "wires": [
            [
                "bbe31ea084f7d6ed",
                "52ddf34c1d3b3521"
            ]
        ]
    },
    {
        "id": "036536be1866527c",
        "type": "debug",
        "z": "ee007fdb47bc55a3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "6663dfc993539d75",
        "type": "delay",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "21b33b54f880591f"
            ]
        ]
    },
    {
        "id": "21b33b54f880591f",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "036536be1866527c",
                "7225d65199aec1d1"
            ]
        ]
    },
    {
        "id": "52ddf34c1d3b3521",
        "type": "function",
        "z": "ee007fdb47bc55a3",
        "name": "Format Log",
        "func": "msg.payload = {\n    on: msg.payload\n}\n\nmsg.datadir = 'glycol';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "98fb567d7e183c26"
            ]
        ]
    },
    {
        "id": "4e547c36d5ae6b58",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Auto",
        "group": "9717d6b8e7174784",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "ae5e8e8e125493b3"
            ]
        ]
    },
    {
        "id": "ae5e8e8e125493b3",
        "type": "trigger",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-4",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "f2dd82cb284c8f90",
                "6663dfc993539d75",
                "036536be1866527c"
            ]
        ]
    },
    {
        "id": "98fb567d7e183c26",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "log",
        "mode": "link",
        "links": [
            "6624e0a10db6703c"
        ],
        "x": 1225,
        "y": 440,
        "wires": []
    },
    {
        "id": "fce6b57151b22b5e",
        "type": "file",
        "z": "b78165d67fd7b4e4",
        "name": "Write Log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae76ff66b00d316",
        "type": "function",
        "z": "b78165d67fd7b4e4",
        "name": "Assign File",
        "func": "const maybeSubDir = msg.datadir ? msg.datadir + '/' : '';\nconst fileBase = msg.topic || 'log';\nconst fileDate = new Date().toISOString().slice(0, 10);\nconst ext = '.json';\nmsg.filename = `/home/casey/data/${maybeSubDir}${fileBase}-${fileDate}${ext}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "fce6b57151b22b5e"
            ]
        ]
    },
    {
        "id": "6624e0a10db6703c",
        "type": "link in",
        "z": "b78165d67fd7b4e4",
        "name": "log",
        "links": [
            "5e8834fa3ab3d42c",
            "98fb567d7e183c26"
        ],
        "x": 145,
        "y": 120,
        "wires": [
            [
                "d9d35a543c508ad0"
            ]
        ]
    },
    {
        "id": "d9d35a543c508ad0",
        "type": "function",
        "z": "b78165d67fd7b4e4",
        "name": "ISO Timestamp",
        "func": "const ts = msg.ts ? new Date(msg.ts) : new Date();\n\nmsg.payload.ts = ts.toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "2ae76ff66b00d316"
            ]
        ]
    }
]