flows.json
[
    {
        "id": "1efd7cc3c71e09de",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0554f48b4c31f562",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true
    },
    {
        "id": "bcd1d9f7e4bee09e",
        "type": "ui-theme",
        "name": "Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ff688e6db65990bd",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "0554f48b4c31f562",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "bcd1d9f7e4bee09e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "92b99a777e7b2308",
        "type": "ui-group",
        "name": "Reservoir",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31c3bbdb778e6274",
        "type": "ui-group",
        "name": "Sensors",
        "page": "ff688e6db65990bd",
        "width": "3",
        "height": "4",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "9717d6b8e7174784",
        "type": "ui-group",
        "name": "Fridge Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1150dfbc2542243a",
        "type": "ui-group",
        "name": "Freezer Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "02821af719429a34",
        "type": "ui-group",
        "name": "Fermenter",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a078bc0c7301c768",
        "type": "rpi-ds18b20",
        "z": "1efd7cc3c71e09de",
        "topic": "",
        "array": false,
        "name": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6db80055ea16ed14",
                "9dc23e792fe52e3a"
            ]
        ]
    },
    {
        "id": "19cf4c30ae84fad0",
        "type": "debug",
        "z": "1efd7cc3c71e09de",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "74bcbed03a01a3f9",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a078bc0c7301c768"
            ]
        ]
    },
    {
        "id": "10730fb5c08658b7",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Reservoir",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "6db80055ea16ed14",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "C to F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload*9/5 + 32",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "19cf4c30ae84fad0",
                "e9aef335fa56de79"
            ]
        ]
    },
    {
        "id": "89a53a7521a28c6e",
        "type": "switch",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "28-3ce1d4438190",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4433942",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e380ae89",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e38020af",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d44331ee",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4438eb5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "10730fb5c08658b7"
            ],
            [
                "d7cae4a972371c10"
            ],
            [
                "bd7539e8c96648f2"
            ],
            [
                "978eb36b96422f6c"
            ],
            [
                "2a49f5a09c811234"
            ],
            [
                "d07942e060cae33b"
            ]
        ]
    },
    {
        "id": "d7cae4a972371c10",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "e9aef335fa56de79",
        "type": "calculator",
        "z": "1efd7cc3c71e09de",
        "name": "Round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "1",
        "decimals2": 0,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "89a53a7521a28c6e"
            ]
        ]
    },
    {
        "id": "bd7539e8c96648f2",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "978eb36b96422f6c",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fridge Water Sample",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a49f5a09c811234",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Glycol Return",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "d07942e060cae33b",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "1150dfbc2542243a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Freezer Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "32",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "1838a71a8221f3fa",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "10730fb5c08658b7",
                "d7cae4a972371c10",
                "bd7539e8c96648f2",
                "978eb36b96422f6c",
                "2a49f5a09c811234",
                "d07942e060cae33b"
            ]
        ]
    },
    {
        "id": "733634787f0f318b",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "9dc23e792fe52e3a",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 2",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "733634787f0f318b"
            ]
        ]
    },
    {
        "id": "adb1d333296cf1b4",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Now",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "a23633967db43d44",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "3992b857cc3d9d40"
            ]
        ]
    },
    {
        "id": "3992b857cc3d9d40",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 3",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "adb1d333296cf1b4"
            ]
        ]
    }
]