flows.json
[
    {
        "id": "1efd7cc3c71e09de",
        "type": "tab",
        "label": "Thermometers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee007fdb47bc55a3",
        "type": "tab",
        "label": "Chiller Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b929bfab8deb0b5",
        "type": "tab",
        "label": "Chiller Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22b47086be4f7484",
        "type": "tab",
        "label": "Chiller Pulsing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30bc1a5687a82b59",
        "type": "tab",
        "label": "Utils",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0554f48b4c31f562",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true
    },
    {
        "id": "bcd1d9f7e4bee09e",
        "type": "ui-theme",
        "name": "Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ff688e6db65990bd",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "0554f48b4c31f562",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "bcd1d9f7e4bee09e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "92b99a777e7b2308",
        "type": "ui-group",
        "name": "Reservoir",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31c3bbdb778e6274",
        "type": "ui-group",
        "name": "Sensors",
        "page": "ff688e6db65990bd",
        "width": "3",
        "height": "4",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "9717d6b8e7174784",
        "type": "ui-group",
        "name": "Kegerator Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1150dfbc2542243a",
        "type": "ui-group",
        "name": "Freezer Compartment",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "02821af719429a34",
        "type": "ui-group",
        "name": "Fermenter",
        "page": "ff688e6db65990bd",
        "width": "2",
        "height": "4",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3685fac23107d13d",
        "type": "websocket-client",
        "path": "ws://tiltpi.local:1880/ws/tilt",
        "tls": "",
        "wholemsg": "true",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "a078bc0c7301c768",
        "type": "rpi-ds18b20",
        "z": "1efd7cc3c71e09de",
        "topic": "",
        "array": false,
        "name": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6db80055ea16ed14",
                "9dc23e792fe52e3a"
            ]
        ]
    },
    {
        "id": "19cf4c30ae84fad0",
        "type": "debug",
        "z": "1efd7cc3c71e09de",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "74bcbed03a01a3f9",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a078bc0c7301c768"
            ]
        ]
    },
    {
        "id": "10730fb5c08658b7",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Reservoir",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "25",
                "color": "#58f72b"
            },
            {
                "from": "35",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "6db80055ea16ed14",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "C to F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload*9/5 + 32",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "19cf4c30ae84fad0",
                "7a83f0ffb45f9e01",
                "e1173b0f55798df8"
            ]
        ]
    },
    {
        "id": "89a53a7521a28c6e",
        "type": "switch",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "28-3ce1d4438190",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4433942",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e380ae89",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1e38020af",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d44331ee",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28-3ce1d4438eb5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "2c88bfcec2080e79"
            ],
            [
                "95a2e5363516efc3"
            ],
            [
                "eb4d24ed2d667a69"
            ],
            [
                "4ee1ff0eacce0b8d"
            ],
            [
                "c9447eb1be7a2924"
            ],
            [
                "1531553d7ef8172f"
            ]
        ]
    },
    {
        "id": "d7cae4a972371c10",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#58f72b"
            },
            {
                "from": "38",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd7539e8c96648f2",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kegerator",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "32",
                "color": "#00ccff"
            },
            {
                "from": "37",
                "color": "#58f72b"
            },
            {
                "from": "39",
                "color": "#ffcd00"
            }
        ],
        "min": "32",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "978eb36b96422f6c",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "9717d6b8e7174784",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fridge Water Sample",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "32",
                "color": "#00ccff"
            },
            {
                "from": "37",
                "color": "#58f72b"
            },
            {
                "from": "39",
                "color": "#ffcd00"
            }
        ],
        "min": "32",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1400,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a49f5a09c811234",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Glycol Return",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "30",
                "color": "#58f72b"
            },
            {
                "from": "40",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "d07942e060cae33b",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "1150dfbc2542243a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Freezer Coil",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#00ccff"
            },
            {
                "from": "25",
                "color": "#58f72b"
            },
            {
                "from": "35",
                "color": "#ffcd00"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "733634787f0f318b",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1110,
        "y": 80,
        "wires": []
    },
    {
        "id": "9dc23e792fe52e3a",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 2",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "733634787f0f318b"
            ]
        ]
    },
    {
        "id": "adb1d333296cf1b4",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "31c3bbdb778e6274",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Now",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1090,
        "y": 40,
        "wires": []
    },
    {
        "id": "a23633967db43d44",
        "type": "inject",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "props": [
            {
                "p": "ts",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "3992b857cc3d9d40"
            ]
        ]
    },
    {
        "id": "3992b857cc3d9d40",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 3",
        "func": "msg.payload = new Date(msg.ts).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 40,
        "wires": [
            [
                "adb1d333296cf1b4"
            ]
        ]
    },
    {
        "id": "7a83f0ffb45f9e01",
        "type": "smooth",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "6",
        "round": "1",
        "mult": "multi",
        "reduce": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "89a53a7521a28c6e"
            ]
        ]
    },
    {
        "id": "9d62b7bf49b0c39e",
        "type": "smooth",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "978eb36b96422f6c"
            ]
        ]
    },
    {
        "id": "e1173b0f55798df8",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "Format Log",
        "func": "\nmsg.payload = {\n    temp: msg.payload,\n    unit: 'F'\n};\n\nmsg.datadir = 'pitemps';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "5e8834fa3ab3d42c"
            ]
        ]
    },
    {
        "id": "0ec28ad35b2a3c52",
        "type": "websocket in",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "server": "",
        "client": "3685fac23107d13d",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "ff4fe5ec72581072",
                "8a903e953f56c62f",
                "1dfeaaa7b9c93965",
                "0da8417eef8ae212"
            ]
        ]
    },
    {
        "id": "c0c670bed0b0f6b0",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "02821af719429a34",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fermentor",
        "units": "°F",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "55",
                "color": "#00ccff"
            },
            {
                "from": "64",
                "color": "#58f72b"
            },
            {
                "from": "70",
                "color": "#ffcd00"
            }
        ],
        "min": "55",
        "max": "75",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "ff4fe5ec72581072",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.displayTemp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fermentor_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "c0c670bed0b0f6b0",
                "cd0743143cf7ded5"
            ]
        ]
    },
    {
        "id": "180f7daaa4264a57",
        "type": "ui-text",
        "z": "1efd7cc3c71e09de",
        "group": "02821af719429a34",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Fermentor Update",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "8a903e953f56c62f",
        "type": "function",
        "z": "1efd7cc3c71e09de",
        "name": "function 8",
        "func": "msg.payload = new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "180f7daaa4264a57"
            ]
        ]
    },
    {
        "id": "5e8834fa3ab3d42c",
        "type": "link out",
        "z": "1efd7cc3c71e09de",
        "name": "log",
        "mode": "link",
        "links": [
            "6624e0a10db6703c"
        ],
        "x": 725,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c88bfcec2080e79",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reservoir",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 120,
        "wires": [
            [
                "10730fb5c08658b7",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "95a2e5363516efc3",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "kegerator_coil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 160,
        "wires": [
            [
                "d7cae4a972371c10",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "eb4d24ed2d667a69",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "kegerator",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 200,
        "wires": [
            [
                "bd7539e8c96648f2",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "4ee1ff0eacce0b8d",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "kegerator_water",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "9d62b7bf49b0c39e",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "c9447eb1be7a2924",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reservoir_return",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "2a49f5a09c811234",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "1531553d7ef8172f",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "freezer_coil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "d07942e060cae33b",
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "99417e2977de109d",
        "type": "link out",
        "z": "1efd7cc3c71e09de",
        "name": "temperatures_changed",
        "mode": "link",
        "links": [
            "3d313d65afb44956"
        ],
        "x": 1145,
        "y": 380,
        "wires": []
    },
    {
        "id": "cd0743143cf7ded5",
        "type": "link call",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "links": [
            "def8d7616e8d5cec"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "99417e2977de109d"
            ]
        ]
    },
    {
        "id": "ef9550b96faff978",
        "type": "ui-gauge",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "group": "02821af719429a34",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Gravity",
        "units": "",
        "prefix": "",
        "suffix": "",
        "segments": [],
        "min": "1.000",
        "max": "1.100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "1dfeaaa7b9c93965",
        "type": "change",
        "z": "1efd7cc3c71e09de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SG",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ef9550b96faff978"
            ]
        ]
    },
    {
        "id": "0da8417eef8ae212",
        "type": "debug",
        "z": "1efd7cc3c71e09de",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "563b43c6967a20f7",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Pump -",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "7225d65199aec1d1",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Pump",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "pump_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "c5be5891b150f2b6",
                "52ddf34c1d3b3521",
                "300bb19ff2b2bdfd"
            ]
        ]
    },
    {
        "id": "c5be5891b150f2b6",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Pump +",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "eb4351f291021d1d",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Glycol Recirc -",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cc6ea47a19e1105",
        "type": "rpi-gpio out",
        "z": "ee007fdb47bc55a3",
        "name": "Glycol Recirc -",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "f2dd82cb284c8f90",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Kegerator Valve",
        "group": "9717d6b8e7174784",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 620,
        "y": 540,
        "wires": [
            [
                "4cc6ea47a19e1105",
                "52ddf34c1d3b3521",
                "f9c9c5dc38cf41ad"
            ]
        ]
    },
    {
        "id": "485a04c4285f945c",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Fermentor Valve",
        "group": "02821af719429a34",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "fermentor_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 660,
        "y": 660,
        "wires": [
            [
                "52ddf34c1d3b3521",
                "f0936a9f6e168d9c"
            ]
        ]
    },
    {
        "id": "52ddf34c1d3b3521",
        "type": "function",
        "z": "ee007fdb47bc55a3",
        "name": "Format Log",
        "func": "msg.payload = {\n    on: msg.payload\n}\n\nmsg.datadir = 'glycol';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 760,
        "wires": [
            [
                "98fb567d7e183c26"
            ]
        ]
    },
    {
        "id": "98fb567d7e183c26",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "log",
        "mode": "link",
        "links": [
            "6624e0a10db6703c"
        ],
        "x": 855,
        "y": 760,
        "wires": []
    },
    {
        "id": "e24470a1ebdb04ce",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "set_pump",
        "links": [
            "c8971e043f4d27c5"
        ],
        "x": 315,
        "y": 420,
        "wires": [
            [
                "8916c76defd9ae79"
            ]
        ]
    },
    {
        "id": "5589e178a0fa7e53",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "set_kegerator",
        "links": [
            "4b48bfcc567d3fc1"
        ],
        "x": 315,
        "y": 540,
        "wires": [
            [
                "f2dd82cb284c8f90"
            ]
        ]
    },
    {
        "id": "d28ebc1396febb11",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "set_fermentor_1",
        "links": [
            "e50b4443ff782d04"
        ],
        "x": 315,
        "y": 660,
        "wires": [
            [
                "5fbd7d3e27c3a122"
            ]
        ]
    },
    {
        "id": "8916c76defd9ae79",
        "type": "rbe",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "7225d65199aec1d1"
            ]
        ]
    },
    {
        "id": "5fbd7d3e27c3a122",
        "type": "rbe",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "485a04c4285f945c"
            ]
        ]
    },
    {
        "id": "60bdb9a85159a56d",
        "type": "ui-text-input",
        "z": "ee007fdb47bc55a3",
        "group": "9717d6b8e7174784",
        "name": "",
        "label": "Min Temp",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 700,
        "y": 840,
        "wires": [
            [
                "0c40180f60aa53e8"
            ]
        ]
    },
    {
        "id": "0651ed3f73426aca",
        "type": "ui-text-input",
        "z": "ee007fdb47bc55a3",
        "group": "9717d6b8e7174784",
        "name": "",
        "label": "Max Temp",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 710,
        "y": 880,
        "wires": [
            [
                "ad827d51f058f0fa"
            ]
        ]
    },
    {
        "id": "de46852e231b4ee0",
        "type": "ui-text-input",
        "z": "ee007fdb47bc55a3",
        "group": "02821af719429a34",
        "name": "",
        "label": "Min Temp",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 700,
        "y": 940,
        "wires": [
            [
                "709d78d6d7c1cc26"
            ]
        ]
    },
    {
        "id": "ef74fb28707b332e",
        "type": "ui-text-input",
        "z": "ee007fdb47bc55a3",
        "group": "02821af719429a34",
        "name": "",
        "label": "Max Temp",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 710,
        "y": 980,
        "wires": [
            [
                "cba6d80d60832533"
            ]
        ]
    },
    {
        "id": "ac126e7d7487f43c",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "setpoints_changed",
        "mode": "link",
        "links": [
            "17aa310e8fcdef7c"
        ],
        "x": 1475,
        "y": 920,
        "wires": []
    },
    {
        "id": "0c40180f60aa53e8",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "def8d7616e8d5cec"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 840,
        "wires": [
            [
                "88f733848e66bc94"
            ]
        ]
    },
    {
        "id": "ad827d51f058f0fa",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "def8d7616e8d5cec"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 880,
        "wires": [
            [
                "722e87771d3894e2"
            ]
        ]
    },
    {
        "id": "709d78d6d7c1cc26",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "def8d7616e8d5cec"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 940,
        "wires": [
            [
                "dd4a9e34e94c99ce"
            ]
        ]
    },
    {
        "id": "cba6d80d60832533",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "def8d7616e8d5cec"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 980,
        "wires": [
            [
                "aaaa55f4eadee05e"
            ]
        ]
    },
    {
        "id": "fdbf7f1c239c3d49",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Auto",
        "group": "9717d6b8e7174784",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "df241756058b0e0c"
            ]
        ]
    },
    {
        "id": "640c38e98e8eade2",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Auto",
        "group": "02821af719429a34",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 1200,
        "wires": [
            [
                "d0d14e3ebf01dc62"
            ]
        ]
    },
    {
        "id": "d4935032bc26635b",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "chiller_auto_changed",
        "mode": "link",
        "links": [
            "17aa310e8fcdef7c"
        ],
        "x": 1505,
        "y": 1180,
        "wires": []
    },
    {
        "id": "300bb19ff2b2bdfd",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chiller_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "11553aebc2fda0c0",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "chiller_on",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "8916c76defd9ae79"
            ]
        ]
    },
    {
        "id": "ead6ea139e218a6b",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kegerator_on",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "f2dd82cb284c8f90"
            ]
        ]
    },
    {
        "id": "77ac1cfabb05cd7f",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fermentor_1_on",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "5fbd7d3e27c3a122"
            ]
        ]
    },
    {
        "id": "f9c9c5dc38cf41ad",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kegerator_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f0936a9f6e168d9c",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fermentor_1_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "434a9639b6ddb58f",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "on_init",
        "links": [
            "87f3573c9728fbc5"
        ],
        "x": 95,
        "y": 920,
        "wires": [
            [
                "e6b67dfe1b428fb6",
                "3599c0d1c8c8a9e5",
                "b57647d36a0803d5",
                "99977456ce4228be"
            ]
        ]
    },
    {
        "id": "c26d19cbd59fdd3b",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "on_init",
        "links": [
            "87f3573c9728fbc5"
        ],
        "x": 85,
        "y": 1180,
        "wires": [
            [
                "65ea6e4629191eaa",
                "cd528bf1ca961382"
            ]
        ]
    },
    {
        "id": "f4e59c320710f6db",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "on_init",
        "links": [
            "87f3573c9728fbc5"
        ],
        "x": 185,
        "y": 520,
        "wires": [
            [
                "11553aebc2fda0c0",
                "ead6ea139e218a6b",
                "77ac1cfabb05cd7f"
            ]
        ]
    },
    {
        "id": "81e38af5482e1b78",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "on_init",
        "links": [
            "87f3573c9728fbc5"
        ],
        "x": 535,
        "y": 280,
        "wires": [
            [
                "ec88fe6f4490f48c"
            ]
        ]
    },
    {
        "id": "ec88fe6f4490f48c",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "563b43c6967a20f7",
                "eb4351f291021d1d"
            ]
        ]
    },
    {
        "id": "1bd3076f526bddcd",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Wants cooling",
        "group": "9717d6b8e7174784",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "45098eee25380224"
            ]
        ]
    },
    {
        "id": "45098eee25380224",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 920,
        "y": 1360,
        "wires": [
            [
                "7a85192d46f39302"
            ]
        ]
    },
    {
        "id": "8d61c9734852e0ff",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "/cooling/wants/",
        "links": [],
        "x": 125,
        "y": 40,
        "wires": [
            [
                "58d58de212e35610"
            ]
        ]
    },
    {
        "id": "f58eef4a9cc09698",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "wants/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "wants",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            [
                "184fed2c277b1d38"
            ]
        ]
    },
    {
        "id": "ae7232f1572ed768",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 15",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 40,
        "wires": []
    },
    {
        "id": "184fed2c277b1d38",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 40,
        "wires": [
            [
                "ae7232f1572ed768"
            ]
        ]
    },
    {
        "id": "7a85192d46f39302",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1080,
        "y": 1360,
        "wires": [
            [
                "c7281512b5d1481c"
            ]
        ]
    },
    {
        "id": "c7281512b5d1481c",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 1360,
        "wires": [
            [
                "a4008cf29b948fb4"
            ]
        ]
    },
    {
        "id": "b14596ae4f50b4ce",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 1360,
        "wires": [
            [
                "93d6bbeedc12cdf5"
            ]
        ]
    },
    {
        "id": "93d6bbeedc12cdf5",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 440,
        "y": 1360,
        "wires": [
            [
                "2f1590ab26c39d35"
            ]
        ]
    },
    {
        "id": "2f1590ab26c39d35",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "1bd3076f526bddcd"
            ]
        ]
    },
    {
        "id": "10b341671aceb007",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "update_controls",
        "links": [
            "87f3573c9728fbc5",
            "b28b7bf9d42dc3e8"
        ],
        "x": 95,
        "y": 1440,
        "wires": [
            [
                "b14596ae4f50b4ce",
                "8b59d9d8b263e832",
                "cd13b9808e59ee84",
                "3e6c70f77a2267f8"
            ]
        ]
    },
    {
        "id": "3fbde78d0941b4a6",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Wants cooling",
        "group": "02821af719429a34",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 740,
        "y": 1420,
        "wires": [
            [
                "e3782d80429d5bca"
            ]
        ]
    },
    {
        "id": "e3782d80429d5bca",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 920,
        "y": 1420,
        "wires": [
            [
                "ae9fe7058871b23c"
            ]
        ]
    },
    {
        "id": "ae9fe7058871b23c",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1090,
        "y": 1420,
        "wires": [
            [
                "72128a324f96c27e"
            ]
        ]
    },
    {
        "id": "72128a324f96c27e",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 1420,
        "wires": [
            [
                "a4008cf29b948fb4"
            ]
        ]
    },
    {
        "id": "8b59d9d8b263e832",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 1420,
        "wires": [
            [
                "f3b98b373906db36"
            ]
        ]
    },
    {
        "id": "f3b98b373906db36",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "9eca9b6481201a72"
            ]
        ]
    },
    {
        "id": "9eca9b6481201a72",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "3fbde78d0941b4a6"
            ]
        ]
    },
    {
        "id": "da3e35713b58e762",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Is cooling",
        "group": "9717d6b8e7174784",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 1480,
        "wires": [
            [
                "0188df30728afc4a"
            ]
        ]
    },
    {
        "id": "0188df30728afc4a",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "47172b4b42a5fbdd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 910,
        "y": 1480,
        "wires": [
            [
                "8a86d3e9ccb85df7"
            ]
        ]
    },
    {
        "id": "8a86d3e9ccb85df7",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1080,
        "y": 1480,
        "wires": [
            [
                "8f7278aeac8ee2be"
            ]
        ]
    },
    {
        "id": "8f7278aeac8ee2be",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 1480,
        "wires": [
            [
                "a4008cf29b948fb4"
            ]
        ]
    },
    {
        "id": "cd13b9808e59ee84",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "47172b4b42a5fbdd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 1480,
        "wires": [
            [
                "97e95a5699b32233"
            ]
        ]
    },
    {
        "id": "97e95a5699b32233",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 440,
        "y": 1480,
        "wires": [
            [
                "907fb9053a580e4d"
            ]
        ]
    },
    {
        "id": "907fb9053a580e4d",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1480,
        "wires": [
            [
                "da3e35713b58e762"
            ]
        ]
    },
    {
        "id": "b297b91b96536f79",
        "type": "ui-switch",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "label": "Is cooling",
        "group": "02821af719429a34",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "kegerator_coil_status",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 1540,
        "wires": [
            [
                "c72ef56abde828d4"
            ]
        ]
    },
    {
        "id": "c72ef56abde828d4",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "47172b4b42a5fbdd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 910,
        "y": 1540,
        "wires": [
            [
                "023ebc7c5ddddedd"
            ]
        ]
    },
    {
        "id": "023ebc7c5ddddedd",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1090,
        "y": 1540,
        "wires": [
            [
                "08e451918b3a0f43"
            ]
        ]
    },
    {
        "id": "08e451918b3a0f43",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 1540,
        "wires": [
            [
                "a4008cf29b948fb4"
            ]
        ]
    },
    {
        "id": "3e6c70f77a2267f8",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "47172b4b42a5fbdd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "a8fc2de3697db502"
            ]
        ]
    },
    {
        "id": "a8fc2de3697db502",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1540,
        "wires": [
            [
                "a5cc3522c4fdc8a5"
            ]
        ]
    },
    {
        "id": "a5cc3522c4fdc8a5",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1540,
        "wires": [
            [
                "b297b91b96536f79"
            ]
        ]
    },
    {
        "id": "47172b4b42a5fbdd",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "/cooling/has/",
        "links": [],
        "x": 125,
        "y": 80,
        "wires": [
            [
                "3c6d259a7066c8d3"
            ]
        ]
    },
    {
        "id": "6b5631f9051d1c73",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "has/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "has",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "2903f862992cc7db"
            ]
        ]
    },
    {
        "id": "2bee4e8a43ae68f4",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 16",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 80,
        "wires": []
    },
    {
        "id": "2903f862992cc7db",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "2bee4e8a43ae68f4"
            ]
        ]
    },
    {
        "id": "a4008cf29b948fb4",
        "type": "rbe",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1430,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "58d58de212e35610",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "f58eef4a9cc09698"
            ]
        ]
    },
    {
        "id": "3c6d259a7066c8d3",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "6b5631f9051d1c73"
            ]
        ]
    },
    {
        "id": "8d3d5ca0fb3c136c",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "setpoints/",
        "links": [],
        "x": 125,
        "y": 160,
        "wires": [
            [
                "30fbf628685f04cf"
            ]
        ]
    },
    {
        "id": "21426c1e07c42a23",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "setpoints/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "setpoints",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "9e06253da2f452df"
            ]
        ]
    },
    {
        "id": "3c84a89bf78bc88e",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 18",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e06253da2f452df",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "3c84a89bf78bc88e"
            ]
        ]
    },
    {
        "id": "30fbf628685f04cf",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "/cooling/",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "21426c1e07c42a23"
            ]
        ]
    },
    {
        "id": "3c52a8dac8247f66",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "setpoints/min",
        "links": [],
        "x": 125,
        "y": 200,
        "wires": [
            [
                "f72c36f3ca6fb081"
            ]
        ]
    },
    {
        "id": "59bd24b0acec8cde",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "min/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "e7a76a7bb3584b51"
            ]
        ]
    },
    {
        "id": "28341fd58fdf0180",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 19",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 200,
        "wires": []
    },
    {
        "id": "e7a76a7bb3584b51",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "28341fd58fdf0180"
            ]
        ]
    },
    {
        "id": "f72c36f3ca6fb081",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d3d5ca0fb3c136c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "59bd24b0acec8cde"
            ]
        ]
    },
    {
        "id": "397a6558caa46d07",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "setpoints/max",
        "links": [],
        "x": 125,
        "y": 240,
        "wires": [
            [
                "a35e32c3896b1501"
            ]
        ]
    },
    {
        "id": "a60b59b6d42507ed",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "max/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "25d022270985e2b9"
            ]
        ]
    },
    {
        "id": "e316a7ccb92ec852",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 20",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 240,
        "wires": []
    },
    {
        "id": "25d022270985e2b9",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "e316a7ccb92ec852"
            ]
        ]
    },
    {
        "id": "a35e32c3896b1501",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "8d3d5ca0fb3c136c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a60b59b6d42507ed"
            ]
        ]
    },
    {
        "id": "88f733848e66bc94",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "3c52a8dac8247f66"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "2bb8bb4d79cf0282"
            ]
        ]
    },
    {
        "id": "2bb8bb4d79cf0282",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1200,
        "y": 840,
        "wires": [
            [
                "9ce55904ec151672"
            ]
        ]
    },
    {
        "id": "9ce55904ec151672",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 840,
        "wires": [
            [
                "ac126e7d7487f43c"
            ]
        ]
    },
    {
        "id": "722e87771d3894e2",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "397a6558caa46d07"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "2e38b2156a8ea793"
            ]
        ]
    },
    {
        "id": "2e38b2156a8ea793",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1200,
        "y": 880,
        "wires": [
            [
                "d83c5ca3fbe6c2c6"
            ]
        ]
    },
    {
        "id": "d83c5ca3fbe6c2c6",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 880,
        "wires": [
            [
                "ac126e7d7487f43c"
            ]
        ]
    },
    {
        "id": "dd4a9e34e94c99ce",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "3c52a8dac8247f66"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 940,
        "wires": [
            [
                "1290387a7055175b"
            ]
        ]
    },
    {
        "id": "1290387a7055175b",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1210,
        "y": 940,
        "wires": [
            [
                "96b2c28b4bee5f18"
            ]
        ]
    },
    {
        "id": "96b2c28b4bee5f18",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 940,
        "wires": [
            [
                "ac126e7d7487f43c"
            ]
        ]
    },
    {
        "id": "aaaa55f4eadee05e",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "397a6558caa46d07"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 980,
        "wires": [
            [
                "5b2e85f8a9527976"
            ]
        ]
    },
    {
        "id": "5b2e85f8a9527976",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1210,
        "y": 980,
        "wires": [
            [
                "8eddd5bd6987cf7b"
            ]
        ]
    },
    {
        "id": "8eddd5bd6987cf7b",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 980,
        "wires": [
            [
                "ac126e7d7487f43c"
            ]
        ]
    },
    {
        "id": "e6b67dfe1b428fb6",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "3c52a8dac8247f66"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 840,
        "wires": [
            [
                "171551ed420493e6"
            ]
        ]
    },
    {
        "id": "171551ed420493e6",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "69b1cd439cf9fa61"
            ]
        ]
    },
    {
        "id": "69b1cd439cf9fa61",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 840,
        "wires": [
            [
                "60bdb9a85159a56d"
            ]
        ]
    },
    {
        "id": "3599c0d1c8c8a9e5",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "397a6558caa46d07"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 880,
        "wires": [
            [
                "37836deab55bfde4"
            ]
        ]
    },
    {
        "id": "37836deab55bfde4",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "88e1ef0e0f5e7cea"
            ]
        ]
    },
    {
        "id": "88e1ef0e0f5e7cea",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 880,
        "wires": [
            [
                "0651ed3f73426aca"
            ]
        ]
    },
    {
        "id": "b57647d36a0803d5",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "3c52a8dac8247f66"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 940,
        "wires": [
            [
                "ae6592b7fedd71ee"
            ]
        ]
    },
    {
        "id": "ae6592b7fedd71ee",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 940,
        "wires": [
            [
                "404da66195b32c86"
            ]
        ]
    },
    {
        "id": "404da66195b32c86",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 940,
        "wires": [
            [
                "de46852e231b4ee0"
            ]
        ]
    },
    {
        "id": "99977456ce4228be",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "397a6558caa46d07"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "9868a33b739a4825"
            ]
        ]
    },
    {
        "id": "9868a33b739a4825",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 980,
        "wires": [
            [
                "1eacdba9e53ca9ed"
            ]
        ]
    },
    {
        "id": "1eacdba9e53ca9ed",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "ef74fb28707b332e"
            ]
        ]
    },
    {
        "id": "e70e290b6d652810",
        "type": "link in",
        "z": "ee007fdb47bc55a3",
        "name": "/cooling/auto/",
        "links": [],
        "x": 125,
        "y": 120,
        "wires": [
            [
                "a8760c81c60b513f"
            ]
        ]
    },
    {
        "id": "484f6f177754b014",
        "type": "change",
        "z": "ee007fdb47bc55a3",
        "name": "auto/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "bd6b7ac956f284d4"
            ]
        ]
    },
    {
        "id": "a1da089cb808eac3",
        "type": "link out",
        "z": "ee007fdb47bc55a3",
        "name": "link out 29",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd6b7ac956f284d4",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "a1da089cb808eac3"
            ]
        ]
    },
    {
        "id": "a8760c81c60b513f",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "484f6f177754b014"
            ]
        ]
    },
    {
        "id": "df241756058b0e0c",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "e70e290b6d652810"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 880,
        "y": 1160,
        "wires": [
            [
                "6cd779731fbea675"
            ]
        ]
    },
    {
        "id": "6cd779731fbea675",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "85e8e633ba6b6f60"
            ]
        ]
    },
    {
        "id": "85e8e633ba6b6f60",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1190,
        "y": 1160,
        "wires": [
            [
                "074d9b957a8dce08"
            ]
        ]
    },
    {
        "id": "d0d14e3ebf01dc62",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "e70e290b6d652810"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 880,
        "y": 1200,
        "wires": [
            [
                "7fcdf07670e59313"
            ]
        ]
    },
    {
        "id": "7fcdf07670e59313",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1050,
        "y": 1200,
        "wires": [
            [
                "a7539faa06c6e31c"
            ]
        ]
    },
    {
        "id": "a7539faa06c6e31c",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1190,
        "y": 1200,
        "wires": [
            [
                "074d9b957a8dce08"
            ]
        ]
    },
    {
        "id": "074d9b957a8dce08",
        "type": "rbe",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1410,
        "y": 1180,
        "wires": [
            [
                "d4935032bc26635b"
            ]
        ]
    },
    {
        "id": "65ea6e4629191eaa",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "e70e290b6d652810"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 1160,
        "wires": [
            [
                "3711c204154022e1"
            ]
        ]
    },
    {
        "id": "3711c204154022e1",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "81392964b2537da0"
            ]
        ]
    },
    {
        "id": "81392964b2537da0",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "cd528bf1ca961382",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "e70e290b6d652810"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 1200,
        "wires": [
            [
                "421d3864c91500e0"
            ]
        ]
    },
    {
        "id": "421d3864c91500e0",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "eeeab56fadbbfc44"
            ]
        ]
    },
    {
        "id": "eeeab56fadbbfc44",
        "type": "link call",
        "z": "ee007fdb47bc55a3",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "3d313d65afb44956",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "temp_provider",
        "links": [
            "99417e2977de109d"
        ],
        "x": 75,
        "y": 220,
        "wires": [
            [
                "a30ada036ef8a928",
                "54f3fed0f17b2855"
            ]
        ]
    },
    {
        "id": "766c95a92bd7d188",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "demand_changed",
        "mode": "link",
        "links": [
            "57746755b57c03da",
            "2d6b24c7145764e4"
        ],
        "x": 1415,
        "y": 480,
        "wires": []
    },
    {
        "id": "57746755b57c03da",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "demand_state_provider",
        "links": [
            "766c95a92bd7d188",
            "9dabd733119d4c3c"
        ],
        "x": 75,
        "y": 860,
        "wires": [
            [
                "f00e179520717e33"
            ]
        ]
    },
    {
        "id": "7c2581e89065c1eb",
        "type": "switch",
        "z": "9b929bfab8deb0b5",
        "name": "Prioritize",
        "property": "true",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "fermentor_1_demand",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "kegerator_demand",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 860,
        "wires": [
            [
                "57eeca0908b5e742"
            ],
            [
                "503fff80d374ec22"
            ],
            [
                "824ef7f96b43ed71"
            ]
        ]
    },
    {
        "id": "57fcc2685547d74f",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "chiller_state_changed",
        "mode": "link",
        "links": [
            "25cd8599c20db8eb",
            "b03c952a26a53096",
            "7fc667bd0306a892",
            "61cc944b92f11a49"
        ],
        "x": 1405,
        "y": 920,
        "wires": []
    },
    {
        "id": "b03c952a26a53096",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "control_state_provider",
        "links": [
            "3e1425e0fe66bea7",
            "57fcc2685547d74f"
        ],
        "x": 195,
        "y": 1360,
        "wires": [
            [
                "f7cc9771b5fdd165",
                "a107d396d0f80b2f",
                "5aa70ce8298cad90"
            ]
        ]
    },
    {
        "id": "f7cc9771b5fdd165",
        "type": "or-gate",
        "z": "9b929bfab8deb0b5",
        "name": "Is Chiller Enabled",
        "rules": [
            {
                "t": "false",
                "propertyType": "global",
                "property": "pulse_enabled"
            },
            {
                "t": "true",
                "propertyType": "global",
                "property": "pulse_on"
            }
        ],
        "outputTopic": "",
        "gateType": "or",
        "emitOnlyIfTrue": true,
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "e5bfc08c4b4ddf0e"
            ]
        ]
    },
    {
        "id": "418796e87407a1f2",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "Turn off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "c8971e043f4d27c5",
                "e50b4443ff782d04",
                "4b48bfcc567d3fc1"
            ]
        ]
    },
    {
        "id": "c8971e043f4d27c5",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "set_pump",
        "mode": "link",
        "links": [
            "e24470a1ebdb04ce"
        ],
        "x": 1205,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e50b4443ff782d04",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "set_fermentor_1",
        "mode": "link",
        "links": [
            "d28ebc1396febb11"
        ],
        "x": 1205,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4b48bfcc567d3fc1",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "set_kegerator",
        "mode": "link",
        "links": [
            "5589e178a0fa7e53"
        ],
        "x": 1205,
        "y": 1460,
        "wires": []
    },
    {
        "id": "176c2d0cfffd4ec0",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "demand debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 560,
        "wires": []
    },
    {
        "id": "2d6b24c7145764e4",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "demand debug",
        "links": [
            "766c95a92bd7d188",
            "9dabd733119d4c3c"
        ],
        "x": 1065,
        "y": 560,
        "wires": [
            [
                "ca378243b381c5d9"
            ]
        ]
    },
    {
        "id": "ca378243b381c5d9",
        "type": "function",
        "z": "9b929bfab8deb0b5",
        "name": "function 9",
        "func": "const [kegerator_demand, fermentor_1_demand] = await flow.get(['kegerator_demand', 'fermentor_1_demand']);\nconst [kegerator_min_temp, kegerator_max_temp, kegerator_cur, fermentor_1_min_temp, fermentor_1_max_temp, f1_cur] = await global.get(['kegerator_min_temp', 'kegerator_max_temp', 'cur_temp_smooth_kegerator', 'fermentor_1_min_temp', 'fermentor_1_max_temp', 'cur_temp_smooth_fermentor_1'])\nmsg.payload = {\n    kegerator_demand,\n    fermentor_1_demand, \n    setpoints: {kegerator: {min: kegerator_min_temp, max: kegerator_max_temp, cur: kegerator_cur}, fermentor_1: {min: fermentor_1_min_temp, max: fermentor_1_max_temp, cur: f1_cur}}};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 560,
        "wires": [
            [
                "176c2d0cfffd4ec0"
            ]
        ]
    },
    {
        "id": "8e7cc797055dc101",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "4697ec3a4a1a66cd",
                "86db2088763cf3df"
            ]
        ]
    },
    {
        "id": "4697ec3a4a1a66cd",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "cleaned_temps_changed",
        "mode": "link",
        "links": [
            "917627a9241fe018"
        ],
        "x": 665,
        "y": 220,
        "wires": []
    },
    {
        "id": "917627a9241fe018",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "demand_state_provider",
        "links": [
            "4697ec3a4a1a66cd"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "739b7fc1f7283f94",
                "41205e6e273bb3b6"
            ]
        ]
    },
    {
        "id": "739b7fc1f7283f94",
        "type": "switch",
        "z": "9b929bfab8deb0b5",
        "name": "Has Setpoints",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "kegerator",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fermentor_1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "2e594896de530dbc"
            ],
            [
                "2e594896de530dbc"
            ]
        ]
    },
    {
        "id": "17aa310e8fcdef7c",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "link in 1",
        "links": [
            "ac126e7d7487f43c",
            "d4935032bc26635b"
        ],
        "x": 75,
        "y": 520,
        "wires": [
            [
                "8fb4ea4a2251f9c8"
            ]
        ]
    },
    {
        "id": "47d49aec8c601d74",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "Chiller state debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 780,
        "wires": []
    },
    {
        "id": "e8eab017d31c07f2",
        "type": "function",
        "z": "9b929bfab8deb0b5",
        "name": "Get State",
        "func": "const [kegerator_cooling, fermentor_1_cooling, chiller_demand] = await flow.get(['kegerator_cooling', 'fermentor_1_cooling', 'chiller_demand']);\nmsg.payload = {\n    kegerator_cooling,\n    fermentor_1_cooling, \n    chiller_demand,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 780,
        "wires": [
            [
                "47d49aec8c601d74"
            ]
        ]
    },
    {
        "id": "3d921aeebcb1ca73",
        "type": "function",
        "z": "9b929bfab8deb0b5",
        "name": "Serialize State",
        "func": "const state = await flow.get([\n    'fermentor_1_cooling', \n    'kegerator_cooling', \n    'chiller_demand'\n]);\nmsg.payload = JSON.stringify(state)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 860,
        "wires": [
            [
                "725df810c03f49d1"
            ]
        ]
    },
    {
        "id": "725df810c03f49d1",
        "type": "rbe",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1610,
        "y": 860,
        "wires": [
            [
                "57fcc2685547d74f",
                "e8eab017d31c07f2"
            ]
        ]
    },
    {
        "id": "a107d396d0f80b2f",
        "type": "or-gate",
        "z": "9b929bfab8deb0b5",
        "name": "Is Chiller Not Enabled",
        "rules": [
            {
                "t": "false",
                "propertyType": "global",
                "property": "pulse_enabled"
            },
            {
                "t": "true",
                "propertyType": "global",
                "property": "pulse_on"
            }
        ],
        "outputTopic": "",
        "gateType": "nor",
        "emitOnlyIfTrue": true,
        "x": 360,
        "y": 1400,
        "wires": [
            [
                "418796e87407a1f2"
            ]
        ]
    },
    {
        "id": "08c19649961fc9bf",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "fermentor_1",
        "links": [],
        "x": 955,
        "y": 220,
        "wires": [
            [
                "bc6aafcb8a691875"
            ]
        ]
    },
    {
        "id": "bc6aafcb8a691875",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "OBJ: Ferm 1",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "fermentor_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "e9c6f20aa3280da4"
            ]
        ]
    },
    {
        "id": "e9c6f20aa3280da4",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 1175,
        "y": 220,
        "wires": []
    },
    {
        "id": "19bdbd8c499f5a6a",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "kegerator",
        "links": [],
        "x": 955,
        "y": 260,
        "wires": [
            [
                "496d7bcac7afe2eb"
            ]
        ]
    },
    {
        "id": "496d7bcac7afe2eb",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "OBJ: Keger",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "kegerator",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "5effb0966e470779"
            ]
        ]
    },
    {
        "id": "5effb0966e470779",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 6",
        "mode": "return",
        "links": [],
        "x": 1175,
        "y": 260,
        "wires": []
    },
    {
        "id": "09dd42207680e2a9",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "chiller",
        "links": [],
        "x": 955,
        "y": 300,
        "wires": [
            [
                "d1a7f95faac49830"
            ]
        ]
    },
    {
        "id": "d1a7f95faac49830",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "OBJ: Chiller",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "chiller",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "32315d301b257701"
            ]
        ]
    },
    {
        "id": "32315d301b257701",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 7",
        "mode": "return",
        "links": [],
        "x": 1175,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b6521593bedb2f1",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "on",
        "links": [],
        "x": 1235,
        "y": 220,
        "wires": [
            [
                "ef43dc0123cfe041"
            ]
        ]
    },
    {
        "id": "ef43dc0123cfe041",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "5eb3fbd18c14a701"
            ]
        ]
    },
    {
        "id": "ba683dff57fb2dbe",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 8",
        "mode": "return",
        "links": [],
        "x": 1565,
        "y": 220,
        "wires": []
    },
    {
        "id": "90cbcfc0c56f181f",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "off",
        "links": [],
        "x": 1235,
        "y": 260,
        "wires": [
            [
                "85de9c88418a746a"
            ]
        ]
    },
    {
        "id": "85de9c88418a746a",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 260,
        "wires": [
            [
                "8e38cc27a4959965"
            ]
        ]
    },
    {
        "id": "98d82bb15c3b55e4",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 9",
        "mode": "return",
        "links": [],
        "x": 1565,
        "y": 260,
        "wires": []
    },
    {
        "id": "57eeca0908b5e742",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "7252ce203b981a51"
            ]
        ]
    },
    {
        "id": "7252ce203b981a51",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "4b6521593bedb2f1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 650,
        "y": 800,
        "wires": [
            [
                "24d87ad25324237d"
            ]
        ]
    },
    {
        "id": "05529032eef7e7ae",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "7868be8bc8347882"
            ]
        ]
    },
    {
        "id": "7868be8bc8347882",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "90cbcfc0c56f181f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1190,
        "y": 800,
        "wires": [
            [
                "3d921aeebcb1ca73"
            ]
        ]
    },
    {
        "id": "24d87ad25324237d",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "09dd42207680e2a9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 790,
        "y": 800,
        "wires": [
            [
                "6efcefda33975b3c"
            ]
        ]
    },
    {
        "id": "6efcefda33975b3c",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "4b6521593bedb2f1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 910,
        "y": 800,
        "wires": [
            [
                "05529032eef7e7ae"
            ]
        ]
    },
    {
        "id": "503fff80d374ec22",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 500,
        "y": 860,
        "wires": [
            [
                "67091af2687c2393"
            ]
        ]
    },
    {
        "id": "67091af2687c2393",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "4b6521593bedb2f1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "1535e2cedccec9bd"
            ]
        ]
    },
    {
        "id": "5855f979599a7852",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "46b2cc31fe2685f5"
            ]
        ]
    },
    {
        "id": "46b2cc31fe2685f5",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "90cbcfc0c56f181f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1210,
        "y": 860,
        "wires": [
            [
                "3d921aeebcb1ca73"
            ]
        ]
    },
    {
        "id": "1535e2cedccec9bd",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "09dd42207680e2a9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 790,
        "y": 860,
        "wires": [
            [
                "9d84f01ba4db8952"
            ]
        ]
    },
    {
        "id": "9d84f01ba4db8952",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "4b6521593bedb2f1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 910,
        "y": 860,
        "wires": [
            [
                "5855f979599a7852"
            ]
        ]
    },
    {
        "id": "824ef7f96b43ed71",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "09dd42207680e2a9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 920,
        "wires": [
            [
                "092125fb99a00e75"
            ]
        ]
    },
    {
        "id": "092125fb99a00e75",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "90cbcfc0c56f181f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "defedb40135c12f5"
            ]
        ]
    },
    {
        "id": "f2a2d2654508734f",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "18ae1fe72d97e0e3"
            ]
        ]
    },
    {
        "id": "18ae1fe72d97e0e3",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "90cbcfc0c56f181f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "3d921aeebcb1ca73"
            ]
        ]
    },
    {
        "id": "defedb40135c12f5",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 790,
        "y": 920,
        "wires": [
            [
                "27ff5db6068adacc"
            ]
        ]
    },
    {
        "id": "27ff5db6068adacc",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "90cbcfc0c56f181f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 930,
        "y": 920,
        "wires": [
            [
                "f2a2d2654508734f"
            ]
        ]
    },
    {
        "id": "5eb3fbd18c14a701",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1470,
        "y": 220,
        "wires": [
            [
                "ba683dff57fb2dbe"
            ]
        ]
    },
    {
        "id": "8e38cc27a4959965",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1470,
        "y": 260,
        "wires": [
            [
                "98d82bb15c3b55e4"
            ]
        ]
    },
    {
        "id": "32cbf288899a375e",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "/cooling/",
        "links": [],
        "x": 1235,
        "y": 320,
        "wires": [
            [
                "4a7fbc793e78abb4"
            ]
        ]
    },
    {
        "id": "4a7fbc793e78abb4",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "/cooling/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "cooling",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 320,
        "wires": [
            [
                "f068572af8af0f6a"
            ]
        ]
    },
    {
        "id": "2901709848fd7715",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 13",
        "mode": "return",
        "links": [],
        "x": 1685,
        "y": 320,
        "wires": []
    },
    {
        "id": "f068572af8af0f6a",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "ec95d786dfea7afd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1570,
        "y": 320,
        "wires": [
            [
                "2901709848fd7715"
            ]
        ]
    },
    {
        "id": "f00e179520717e33",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "7c2581e89065c1eb"
            ]
        ]
    },
    {
        "id": "a3763ead50b196c7",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "08c19649961fc9bf"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "b9e9031904b64433"
            ]
        ]
    },
    {
        "id": "7f783d77b1a2a185",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "19bdbd8c499f5a6a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 800,
        "y": 1360,
        "wires": [
            [
                "595c09b732bc4f0b"
            ]
        ]
    },
    {
        "id": "f526c779cd5569c1",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "09dd42207680e2a9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 790,
        "y": 1320,
        "wires": [
            [
                "a926b2082e9d782a"
            ]
        ]
    },
    {
        "id": "b9e9031904b64433",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 1280,
        "wires": [
            [
                "c8971e043f4d27c5"
            ]
        ]
    },
    {
        "id": "a926b2082e9d782a",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 1320,
        "wires": [
            [
                "e50b4443ff782d04"
            ]
        ]
    },
    {
        "id": "595c09b732bc4f0b",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 1360,
        "wires": [
            [
                "4b48bfcc567d3fc1"
            ]
        ]
    },
    {
        "id": "e5bfc08c4b4ddf0e",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "32cbf288899a375e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 600,
        "y": 1320,
        "wires": [
            [
                "a3763ead50b196c7",
                "f526c779cd5569c1",
                "7f783d77b1a2a185"
            ]
        ]
    },
    {
        "id": "5aa70ce8298cad90",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3b82992f57c10c2b",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "/temps/cur/smooth/",
        "links": [],
        "x": 1235,
        "y": 360,
        "wires": [
            [
                "abefa506845a8c5c"
            ]
        ]
    },
    {
        "id": "abefa506845a8c5c",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "/temps/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "temps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 360,
        "wires": [
            [
                "58a2e925e40593b4"
            ]
        ]
    },
    {
        "id": "77cb9f6590b9c28a",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "link out 14",
        "mode": "return",
        "links": [],
        "x": 2235,
        "y": 360,
        "wires": []
    },
    {
        "id": "58a2e925e40593b4",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "ec95d786dfea7afd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1500,
        "y": 360,
        "wires": [
            [
                "af040ed4dd0e8228"
            ]
        ]
    },
    {
        "id": "a30ada036ef8a928",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "3b82992f57c10c2b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "84fca67837b850e9"
            ]
        ]
    },
    {
        "id": "41205e6e273bb3b6",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "84fca67837b850e9",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "71ed8d48d08f86c0"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "8e7cc797055dc101"
            ]
        ]
    },
    {
        "id": "af040ed4dd0e8228",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "cur/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "cur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 360,
        "wires": [
            [
                "a148b0d514646479"
            ]
        ]
    },
    {
        "id": "a148b0d514646479",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1800,
        "y": 360,
        "wires": [
            [
                "1e3d65448a486ec1"
            ]
        ]
    },
    {
        "id": "1e3d65448a486ec1",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "smooth/",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "smooth",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 360,
        "wires": [
            [
                "0d643681c1b2765b"
            ]
        ]
    },
    {
        "id": "0d643681c1b2765b",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 2120,
        "y": 360,
        "wires": [
            [
                "77cb9f6590b9c28a"
            ]
        ]
    },
    {
        "id": "86db2088763cf3df",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "Temp Cache",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"topic\": msg.topic,\t    \"namespace\": msg.namespace,\t    \"payload\": msg.payload\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "54f3fed0f17b2855",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "Temp Update",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"topic\": msg.topic,\t    \"payload\": msg.payload\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "0f784e4636560efa",
        "type": "switch",
        "z": "9b929bfab8deb0b5",
        "name": "check setpoints",
        "property": "cur",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "max",
                "vt": "msg"
            },
            {
                "t": "lte",
                "v": "min",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 1880,
        "wires": [
            [
                "86adb4bfe2e5d734"
            ],
            [
                "20490ee02eba2107"
            ]
        ]
    },
    {
        "id": "86adb4bfe2e5d734",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "Demand on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1860,
        "wires": [
            [
                "f22d8722910b9c93"
            ]
        ]
    },
    {
        "id": "20490ee02eba2107",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "Demand off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1900,
        "wires": [
            [
                "f22d8722910b9c93"
            ]
        ]
    },
    {
        "id": "3a0db3fef55855b3",
        "type": "link out",
        "z": "9b929bfab8deb0b5",
        "name": "demand_changed",
        "mode": "return",
        "links": [],
        "x": 1345,
        "y": 1960,
        "wires": []
    },
    {
        "id": "8d9a8986c2680f6c",
        "type": "switch",
        "z": "9b929bfab8deb0b5",
        "name": "if auto",
        "property": "auto",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 1880,
        "wires": [
            [
                "0f784e4636560efa"
            ],
            [
                "66ed2224afe2bcfb"
            ]
        ]
    },
    {
        "id": "07310b903f698fa6",
        "type": "link in",
        "z": "9b929bfab8deb0b5",
        "name": "test_setpoints",
        "links": [],
        "x": 135,
        "y": 1540,
        "wires": [
            [
                "173aa35f96653848"
            ]
        ]
    },
    {
        "id": "13e06f694404391b",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "3c52a8dac8247f66"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 1600,
        "wires": [
            [
                "da74539ea6948f1b"
            ]
        ]
    },
    {
        "id": "559c64592aa6a212",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "47ebb4e1ff77e18e"
            ]
        ]
    },
    {
        "id": "47ebb4e1ff77e18e",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "min",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1600,
        "wires": [
            [
                "488ae585f1aabeea"
            ]
        ]
    },
    {
        "id": "da74539ea6948f1b",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1600,
        "wires": [
            [
                "559c64592aa6a212"
            ]
        ]
    },
    {
        "id": "488ae585f1aabeea",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "397a6558caa46d07"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 1660,
        "wires": [
            [
                "f63b2c8204a8a7fd"
            ]
        ]
    },
    {
        "id": "a5fae2970568fc87",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "b42feac3a7663af3"
            ]
        ]
    },
    {
        "id": "b42feac3a7663af3",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "max",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1660,
        "wires": [
            [
                "4d1efb3dd49da9ae"
            ]
        ]
    },
    {
        "id": "f63b2c8204a8a7fd",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1660,
        "wires": [
            [
                "a5fae2970568fc87"
            ]
        ]
    },
    {
        "id": "4d1efb3dd49da9ae",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "3b82992f57c10c2b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 1720,
        "wires": [
            [
                "3a6d3896d00efaf3"
            ]
        ]
    },
    {
        "id": "81185e5fa19fdd7c",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 1720,
        "wires": [
            [
                "2c045e13a1e0da34"
            ]
        ]
    },
    {
        "id": "2c045e13a1e0da34",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cur",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1720,
        "wires": [
            [
                "08f69e02938e51b4"
            ]
        ]
    },
    {
        "id": "3a6d3896d00efaf3",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1720,
        "wires": [
            [
                "81185e5fa19fdd7c"
            ]
        ]
    },
    {
        "id": "173aa35f96653848",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "c221be6679d7bc1e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 240,
        "y": 1540,
        "wires": [
            [
                "d861a227c0928bac"
            ]
        ]
    },
    {
        "id": "d861a227c0928bac",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "0e0c57bb7d2c2815"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "c7c1f8dabbfb265a"
            ]
        ]
    },
    {
        "id": "c7c1f8dabbfb265a",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "cfac2a9c1b2188a0"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 550,
        "y": 1540,
        "wires": [
            [
                "83f662539c540ca5"
            ]
        ]
    },
    {
        "id": "83f662539c540ca5",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "edc05f0545c5f75a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 710,
        "y": 1540,
        "wires": [
            [
                "13e06f694404391b"
            ]
        ]
    },
    {
        "id": "08f69e02938e51b4",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "e70e290b6d652810"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 1780,
        "wires": [
            [
                "7462253e479a40b6"
            ]
        ]
    },
    {
        "id": "7462253e479a40b6",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 1780,
        "wires": [
            [
                "7bda2287b367fd6c"
            ]
        ]
    },
    {
        "id": "7bda2287b367fd6c",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 1780,
        "wires": [
            [
                "10aa05e84d9176fe"
            ]
        ]
    },
    {
        "id": "10aa05e84d9176fe",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auto",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1780,
        "wires": [
            [
                "8d9a8986c2680f6c"
            ]
        ]
    },
    {
        "id": "f22d8722910b9c93",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 820,
        "y": 1880,
        "wires": [
            [
                "6d683307e11414e0"
            ]
        ]
    },
    {
        "id": "6d683307e11414e0",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 1880,
        "wires": [
            [
                "b64bdba3a550fe7e"
            ]
        ]
    },
    {
        "id": "b64bdba3a550fe7e",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "1b5f9f98a6fb7e13"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1090,
        "y": 1880,
        "wires": [
            [
                "37a8c59e5ae6f4c6"
            ]
        ]
    },
    {
        "id": "2e594896de530dbc",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "07310b903f698fa6"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 600,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6e47ec2fcb9f9ee2",
        "type": "debug",
        "z": "9b929bfab8deb0b5",
        "name": "Setpoint Test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 2060,
        "wires": []
    },
    {
        "id": "7bcef9fdaf0bbd7e",
        "type": "change",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"topic\": msg.topic,\t    \"demand\": msg.payload,\t    \"autoCool\": msg.auto,\t    \"cur\": msg.cur,\t    \"min\": msg.min,\t    \"max\": msg.max\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2060,
        "wires": [
            [
                "6e47ec2fcb9f9ee2"
            ]
        ]
    },
    {
        "id": "ffb7bc76ee413bc5",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "e98e548f6ef490ed"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1090,
        "y": 1960,
        "wires": [
            [
                "7bcef9fdaf0bbd7e",
                "3a0db3fef55855b3"
            ]
        ]
    },
    {
        "id": "54adcf4de862b287",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 1960,
        "wires": [
            [
                "ffb7bc76ee413bc5"
            ]
        ]
    },
    {
        "id": "37a8c59e5ae6f4c6",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "0e0c57bb7d2c2815"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 1960,
        "wires": [
            [
                "54adcf4de862b287"
            ]
        ]
    },
    {
        "id": "8fb4ea4a2251f9c8",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "b4709e4b71317f83"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "739b7fc1f7283f94"
            ]
        ]
    },
    {
        "id": "66ed2224afe2bcfb",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "8d61c9734852e0ff"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 2040,
        "wires": [
            [
                "a72c518154e36a30"
            ]
        ]
    },
    {
        "id": "a72c518154e36a30",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "9cf74795ca0b4ef4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 2040,
        "wires": [
            [
                "36f854aa0d15a123",
                "3a0db3fef55855b3"
            ]
        ]
    },
    {
        "id": "36f854aa0d15a123",
        "type": "link call",
        "z": "9b929bfab8deb0b5",
        "name": "",
        "links": [
            "877c14d358aecce9"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 810,
        "y": 2060,
        "wires": [
            [
                "7bcef9fdaf0bbd7e"
            ]
        ]
    },
    {
        "id": "036536be1866527c",
        "type": "debug",
        "z": "22b47086be4f7484",
        "name": "Pulse Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "6663dfc993539d75",
        "type": "delay",
        "z": "22b47086be4f7484",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "21b33b54f880591f"
            ]
        ]
    },
    {
        "id": "21b33b54f880591f",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "9cf711de37250c80"
            ]
        ]
    },
    {
        "id": "4e547c36d5ae6b58",
        "type": "ui-switch",
        "z": "22b47086be4f7484",
        "name": "",
        "label": "Pulse",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "f16655765bd40ca2"
            ]
        ]
    },
    {
        "id": "ae5e8e8e125493b3",
        "type": "trigger",
        "z": "22b47086be4f7484",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-4",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "6663dfc993539d75",
                "9cf711de37250c80",
                "817a3628f61946dc"
            ]
        ]
    },
    {
        "id": "f16655765bd40ca2",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse_enabled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "21329515b448a6ec",
                "881e642e34a4756e"
            ]
        ]
    },
    {
        "id": "25cd8599c20db8eb",
        "type": "link in",
        "z": "22b47086be4f7484",
        "name": "pulse_state_provider",
        "links": [
            "57fcc2685547d74f"
        ],
        "x": 265,
        "y": 220,
        "wires": [
            [
                "21329515b448a6ec",
                "881e642e34a4756e"
            ]
        ]
    },
    {
        "id": "91a2fa7f206b503f",
        "type": "rbe",
        "z": "22b47086be4f7484",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "342a1274fd588471"
            ]
        ]
    },
    {
        "id": "342a1274fd588471",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pulse_enabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "ae5e8e8e125493b3",
                "036536be1866527c",
                "fbc68372702554a3"
            ]
        ]
    },
    {
        "id": "9cf711de37250c80",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pulse_on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 400,
        "wires": [
            [
                "4c649362384bcaf0"
            ]
        ]
    },
    {
        "id": "3e1425e0fe66bea7",
        "type": "link out",
        "z": "22b47086be4f7484",
        "name": "pulse_state_changed",
        "mode": "link",
        "links": [
            "b03c952a26a53096"
        ],
        "x": 1155,
        "y": 400,
        "wires": []
    },
    {
        "id": "97b48f37e3fd1307",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pulse_enabled",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "4e547c36d5ae6b58"
            ]
        ]
    },
    {
        "id": "d16f1b6bf9a82a94",
        "type": "link in",
        "z": "22b47086be4f7484",
        "name": "on_init",
        "links": [
            "87f3573c9728fbc5"
        ],
        "x": 85,
        "y": 80,
        "wires": [
            [
                "97b48f37e3fd1307"
            ]
        ]
    },
    {
        "id": "89cb97f4192f8f45",
        "type": "ui-gauge",
        "z": "22b47086be4f7484",
        "name": "",
        "group": "92b99a777e7b2308",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pulse Cycle",
        "units": "secs",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#f0f0f0"
            },
            {
                "from": "60",
                "color": "#e6e6e6"
            },
            {
                "from": "120",
                "color": "#d6d6d6"
            },
            {
                "from": "180",
                "color": "#cccccc"
            }
        ],
        "min": 0,
        "max": "240",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "817a3628f61946dc",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse_cycle_start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fbc68372702554a3",
        "type": "trigger",
        "z": "22b47086be4f7484",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "425ba63f22c49c0a"
            ]
        ]
    },
    {
        "id": "425ba63f22c49c0a",
        "type": "function",
        "z": "22b47086be4f7484",
        "name": "function 12",
        "func": "const start = new Date(await flow.get('pulse_cycle_start')).getTime();\nconst end = new Date().getTime();\nmsg.payload = Math.round((end-start)/1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 600,
        "wires": [
            [
                "89cb97f4192f8f45"
            ]
        ]
    },
    {
        "id": "21329515b448a6ec",
        "type": "and-gate",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "true",
                "propertyType": "global",
                "property": "pulse_enabled"
            },
            {
                "t": "true",
                "propertyType": "global",
                "property": "chiller_on"
            }
        ],
        "outputTopic": "",
        "gateType": "and",
        "emitOnlyIfTrue": true,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "89dba9b7b1061328"
            ]
        ]
    },
    {
        "id": "89dba9b7b1061328",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "91a2fa7f206b503f"
            ]
        ]
    },
    {
        "id": "6229ddaec9e18f42",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "91a2fa7f206b503f",
                "2e48961929943a8c"
            ]
        ]
    },
    {
        "id": "881e642e34a4756e",
        "type": "and-gate",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "true",
                "propertyType": "global",
                "property": "pulse_enabled"
            },
            {
                "t": "true",
                "propertyType": "global",
                "property": "chiller_on"
            }
        ],
        "outputTopic": "",
        "gateType": "nand",
        "emitOnlyIfTrue": true,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "6229ddaec9e18f42"
            ]
        ]
    },
    {
        "id": "2e48961929943a8c",
        "type": "change",
        "z": "22b47086be4f7484",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "89cb97f4192f8f45"
            ]
        ]
    },
    {
        "id": "4c649362384bcaf0",
        "type": "rbe",
        "z": "22b47086be4f7484",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 990,
        "y": 400,
        "wires": [
            [
                "3e1425e0fe66bea7",
                "036536be1866527c"
            ]
        ]
    },
    {
        "id": "1dd3f76faeaf930a",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "parseFloat",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "f7096a1dbca18fbc"
            ]
        ]
    },
    {
        "id": "def8d7616e8d5cec",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "parseFloat",
        "links": [],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "1dd3f76faeaf930a"
            ]
        ]
    },
    {
        "id": "f7096a1dbca18fbc",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "parseInt_out",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 120,
        "wires": []
    },
    {
        "id": "1b5f9f98a6fb7e13",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "set",
        "links": [],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "753131bef7705bb6"
            ]
        ]
    },
    {
        "id": "1866bfbfb656b8f3",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "setObjectVal",
        "func": "const {namespace, topic, payload, wait} = msg;\nmsg.topic = namespace;\nconst promise = global.set(namespace, payload);\n\nif (wait) {\n    await promise;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "8c7fc96a33b4409e"
            ]
        ]
    },
    {
        "id": "8c7fc96a33b4409e",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 535,
        "y": 220,
        "wires": []
    },
    {
        "id": "877c14d358aecce9",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "get",
        "links": [],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "b9a5bf64be616491"
            ]
        ]
    },
    {
        "id": "f7f72f43935bd1ca",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "getObjectVal",
        "func": "const {namespace} = msg;\n\nmsg.payload = await global.get(namespace);\nmsg.topic = namespace;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "3e8726e7c2026ae0"
            ]
        ]
    },
    {
        "id": "3e8726e7c2026ae0",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 535,
        "y": 280,
        "wires": []
    },
    {
        "id": "fce6b57151b22b5e",
        "type": "file",
        "z": "30bc1a5687a82b59",
        "name": "Write Log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae76ff66b00d316",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "Assign File",
        "func": "const maybeSubDir = msg.datadir ? msg.datadir + '/' : '';\nconst fileBase = msg.topic || 'log';\nconst fileDate = new Date().toISOString().slice(0, 10);\nconst ext = '.json';\nmsg.filename = `/home/casey/data/${maybeSubDir}${fileBase}-${fileDate}${ext}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "fce6b57151b22b5e"
            ]
        ]
    },
    {
        "id": "6624e0a10db6703c",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "log",
        "links": [
            "5e8834fa3ab3d42c",
            "98fb567d7e183c26"
        ],
        "x": 125,
        "y": 40,
        "wires": [
            [
                "d9d35a543c508ad0"
            ]
        ]
    },
    {
        "id": "d9d35a543c508ad0",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "ISO Timestamp",
        "func": "const ts = msg.ts ? new Date(msg.ts) : new Date();\n\nmsg.payload.ts = ts.toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            [
                "2ae76ff66b00d316"
            ]
        ]
    },
    {
        "id": "e3d0b3056d3b94da",
        "type": "inject",
        "z": "30bc1a5687a82b59",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "87f3573c9728fbc5"
            ]
        ]
    },
    {
        "id": "87f3573c9728fbc5",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "init",
        "mode": "link",
        "links": [
            "434a9639b6ddb58f",
            "d16f1b6bf9a82a94",
            "c26d19cbd59fdd3b",
            "f4e59c320710f6db",
            "81e38af5482e1b78",
            "10b341671aceb007",
            "66a119b25d4ca979",
            "6947a77a2d9299c5",
            "f476c6d144cb353f",
            "5f411fe5b08fa723",
            "ea16e0d0a19134fc"
        ],
        "x": 295,
        "y": 540,
        "wires": []
    },
    {
        "id": "66f76498483b8b70",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "addNamespace",
        "links": [],
        "x": 135,
        "y": 360,
        "wires": [
            [
                "8cfbfe12df7ee040"
            ]
        ]
    },
    {
        "id": "8cfbfe12df7ee040",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "Append Namespace",
        "func": "const {namespace, scope, wait} = msg;\n\nif (!namespace) {\n    msg.namespace = scope;\n} else {\n    msg.namespace+=`/${scope}`;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 360,
        "wires": [
            [
                "8e08fd5df9f19018"
            ]
        ]
    },
    {
        "id": "8e08fd5df9f19018",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 10",
        "mode": "return",
        "links": [],
        "x": 425,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec95d786dfea7afd",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "setNamespace",
        "links": [],
        "x": 135,
        "y": 400,
        "wires": [
            [
                "64e58f7243510610"
            ]
        ]
    },
    {
        "id": "64e58f7243510610",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "Set Namespace",
        "func": "const {scope} = msg;\n\nmsg.namespace = scope;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "4e8cc86b0294c6a5"
            ]
        ]
    },
    {
        "id": "4e8cc86b0294c6a5",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 11",
        "mode": "return",
        "links": [],
        "x": 425,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3209bdc8a1e2081",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "/",
        "links": [],
        "x": 135,
        "y": 440,
        "wires": [
            [
                "8313e816495b518a"
            ]
        ]
    },
    {
        "id": "512abc8d0b75f8e2",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 12",
        "mode": "return",
        "links": [],
        "x": 545,
        "y": 440,
        "wires": []
    },
    {
        "id": "8313e816495b518a",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "rootScope",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "2a4469c78bc0ba34"
            ]
        ]
    },
    {
        "id": "2a4469c78bc0ba34",
        "type": "link call",
        "z": "30bc1a5687a82b59",
        "name": "",
        "links": [
            "ec95d786dfea7afd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "512abc8d0b75f8e2"
            ]
        ]
    },
    {
        "id": "753131bef7705bb6",
        "type": "link call",
        "z": "30bc1a5687a82b59",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "1866bfbfb656b8f3"
            ]
        ]
    },
    {
        "id": "71ed8d48d08f86c0",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "topic_scope",
        "links": [],
        "x": 135,
        "y": 480,
        "wires": [
            [
                "4a000e50407592e4"
            ]
        ]
    },
    {
        "id": "7e00c38b33da7457",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 17",
        "mode": "return",
        "links": [],
        "x": 385,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a000e50407592e4",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "topic->scope",
        "rules": [
            {
                "t": "set",
                "p": "scope",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "7e00c38b33da7457"
            ]
        ]
    },
    {
        "id": "cfac2a9c1b2188a0",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "remember",
        "links": [],
        "x": 135,
        "y": 660,
        "wires": [
            [
                "b55b800f6e907870"
            ]
        ]
    },
    {
        "id": "b55b800f6e907870",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "remember",
        "func": "const {memorySlot, memoryTarget} = msg;\n\nmsg.memory = msg.memory ?? {};\n\nmsg.memory[memorySlot] = msg[memoryTarget];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 660,
        "wires": [
            [
                "d7b19c463602ea51"
            ]
        ]
    },
    {
        "id": "d7b19c463602ea51",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 21",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 660,
        "wires": []
    },
    {
        "id": "9cf74795ca0b4ef4",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "recall",
        "links": [],
        "x": 135,
        "y": 700,
        "wires": [
            [
                "6a23a7938fbca7ac"
            ]
        ]
    },
    {
        "id": "6a23a7938fbca7ac",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "recall",
        "func": "const {memorySlot, memoryTarget} = msg;\n\nmsg[memoryTarget] = msg.memory[memorySlot];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 700,
        "wires": [
            [
                "bde9cd78720c161f"
            ]
        ]
    },
    {
        "id": "bde9cd78720c161f",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 22",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 700,
        "wires": []
    },
    {
        "id": "e98e548f6ef490ed",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "forget",
        "links": [],
        "x": 135,
        "y": 740,
        "wires": [
            [
                "2ad298ae1c1e123a"
            ]
        ]
    },
    {
        "id": "2ad298ae1c1e123a",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "forget",
        "func": "const {memorySlot, memoryTarget} = msg;\n\ndelete msg.memory[memorySlot];\ndelete msg.memoryTarget;\ndelete msg.memorySlot;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 740,
        "wires": [
            [
                "18b55470b9ecda1f"
            ]
        ]
    },
    {
        "id": "18b55470b9ecda1f",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 23",
        "mode": "return",
        "links": [],
        "x": 365,
        "y": 740,
        "wires": []
    },
    {
        "id": "c221be6679d7bc1e",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "mem/s1",
        "links": [],
        "x": 135,
        "y": 800,
        "wires": [
            [
                "9c0a1ef84773344a"
            ]
        ]
    },
    {
        "id": "9c0a1ef84773344a",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "Slot 1",
        "rules": [
            {
                "t": "set",
                "p": "memorySlot",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 800,
        "wires": [
            [
                "efa92a959c758025"
            ]
        ]
    },
    {
        "id": "efa92a959c758025",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 24",
        "mode": "return",
        "links": [],
        "x": 305,
        "y": 800,
        "wires": []
    },
    {
        "id": "10b5c6fb645992f8",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "mem/s2",
        "links": [],
        "x": 135,
        "y": 840,
        "wires": [
            [
                "df780605d853738c"
            ]
        ]
    },
    {
        "id": "df780605d853738c",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "Slot 2",
        "rules": [
            {
                "t": "set",
                "p": "memorySlot",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 840,
        "wires": [
            [
                "1f27b3885f428e13"
            ]
        ]
    },
    {
        "id": "1f27b3885f428e13",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 25",
        "mode": "return",
        "links": [],
        "x": 305,
        "y": 840,
        "wires": []
    },
    {
        "id": "0e0c57bb7d2c2815",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "mem/topic",
        "links": [],
        "x": 135,
        "y": 920,
        "wires": [
            [
                "45690f05ebd1ac3c"
            ]
        ]
    },
    {
        "id": "45690f05ebd1ac3c",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "Topic",
        "rules": [
            {
                "t": "set",
                "p": "memoryTarget",
                "pt": "msg",
                "to": "topic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 920,
        "wires": [
            [
                "f7d78a73f47b5512"
            ]
        ]
    },
    {
        "id": "f7d78a73f47b5512",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 26",
        "mode": "return",
        "links": [],
        "x": 305,
        "y": 920,
        "wires": []
    },
    {
        "id": "1cc83ea2d98b9d26",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "mem/payload",
        "links": [],
        "x": 135,
        "y": 960,
        "wires": [
            [
                "753ca191f472cfad"
            ]
        ]
    },
    {
        "id": "753ca191f472cfad",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "Payload",
        "rules": [
            {
                "t": "set",
                "p": "memoryTarget",
                "pt": "msg",
                "to": "payload",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "c29553754cf65e18"
            ]
        ]
    },
    {
        "id": "c29553754cf65e18",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 27",
        "mode": "return",
        "links": [],
        "x": 315,
        "y": 960,
        "wires": []
    },
    {
        "id": "edc05f0545c5f75a",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "mem/scope",
        "links": [],
        "x": 135,
        "y": 1000,
        "wires": [
            [
                "d228998b8d705969"
            ]
        ]
    },
    {
        "id": "d228998b8d705969",
        "type": "change",
        "z": "30bc1a5687a82b59",
        "name": "Scope",
        "rules": [
            {
                "t": "set",
                "p": "memoryTarget",
                "pt": "msg",
                "to": "scope",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "825b72c611aa4afc"
            ]
        ]
    },
    {
        "id": "825b72c611aa4afc",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 28",
        "mode": "return",
        "links": [],
        "x": 305,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b4709e4b71317f83",
        "type": "link in",
        "z": "30bc1a5687a82b59",
        "name": "leaf_topic",
        "links": [],
        "x": 445,
        "y": 480,
        "wires": [
            [
                "f7acfee8448eaeca"
            ]
        ]
    },
    {
        "id": "3895c02cc5e2ecaf",
        "type": "link out",
        "z": "30bc1a5687a82b59",
        "name": "link out 31",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 480,
        "wires": []
    },
    {
        "id": "f7acfee8448eaeca",
        "type": "function",
        "z": "30bc1a5687a82b59",
        "name": "leafTopic",
        "func": "const scopes = msg.topic.split('/');\nmsg.topic = scopes[scopes.length-1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "3895c02cc5e2ecaf"
            ]
        ]
    },
    {
        "id": "b9a5bf64be616491",
        "type": "link call",
        "z": "30bc1a5687a82b59",
        "name": "",
        "links": [
            "66f76498483b8b70"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "f7f72f43935bd1ca"
            ]
        ]
    }
]